/* CSS GERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    /* background-color: #171717; */
}

/* CLASSES GERAIS */

.d-flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

/* MENU DE NAVEGAÇÃO */

.nav{
    width: 100%;
    background-color: #171717;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .nav-bar{
} */

.nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.nav-bar ul li{
    list-style-type: none;
    padding: 20px;
}

.nav-bar ul li a{
    color: #3E8289;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 700;
    position: relative;
}

.nav-bar ul li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #3E8289;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-bar ul li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.icons-sociais ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.icons-sociais ul li{
    list-style-type: none;
    padding: 20px;
}

.icons-sociais ul li a{
    color: #fff;
    font-weight: 900;
    margin: 0;
    text-align: center;
    width: 30px;
}


.socail-instagram:hover{
    color: #5851DB;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.socail-whatsapp:hover{
    color: #34af23;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.socail-linkedin:hover{
    color: #0976b4;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
/* CONTEUDO CABEÇALHO */

.content-header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 93vh;
    width: 100%;
    background-image: url("../images/header/home-office2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-header{
    margin-left: 100px;
}

.title-header{
    color: #ffffff;
    font-family: 'DynaPuff', "cursive";
    font-size: 2.6em;
}

.subtitle-header{
    color: #ffffff;
    font-family: 'DynaPuff', "cursive";
    font-size: 1.3em;
}

.buttons-header{
    padding-top: 30px;
}

.buttons-header button{
    background: #3E8289;
    color: #fff;
    border: 2px solid #3E8289;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    /* mix-blend-mode: screen;  */
}

.marcador-header{
    width: 100%; 
    height: 280px; 
    background: #171717; 
    clip-path: polygon(100% 0, 0% 100%, 100% 100%); 
    position: absolute; 
    bottom: -1px; 
    opacity: 0.7;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.marcador-header div{
    margin-bottom: 2%;
}
.btn-down{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    background: transparent;
    text-align: center;
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in 0s;
}

.btn-down:hover{
    width: 40px;
    height: 40px;
    color: #ffffff;
    transition: all 0.2s ease-in 0s;
}

/* SEÇÃO SOBRE */
.about{
    width: 100%;
    background-color: #171717;
}

.about .title{
    color: #ffffff;
    font-family: 'DynaPuff', "cursive";
}
